{% extends 'moderation/structure/structure_template.html' %}

{% block approve_url %}
    {% url 'department_approve' department_id=department.pk %}
{% endblock %}

{% block delete_url %}
    {% url 'department_delete' department_id=department.pk %}
{% endblock %}


{% block structure_content %}

    <table class="table table-striped">

        <tr>
            <td><b>Университет</b></td>
            <td>{{ department.university.short_title }}</td>
        </tr>

        <tr>
            <td><b>Название</b></td>
            <td>{{ department.title }}</td>
        </tr>

        <tr>
            <td><b>Аббривиатура</b></td>
            <td>{{ department.short_title }}</td>
        </tr>

        <tr>
            <td><b>Ссылка</b></td>
            <td>{{ department.link }}</td>
        </tr>

    </table>

{% endblock %}



