<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="post-panel">

        {% if user == post.author or user.userinfo.status.can_moderate or user.is_staff or user.is_superuser %}
            <hr/>
            <nav class="post-moderation btn-group">
                <a href="{% block approve_url %}{% endblock %}"
                   class="btn btn-success">
                    <span class="showopacity glyphicon glyphicon-ok"></span>
                    Одобрить
                </a>
                <a href="{% block delete_url %}{% endblock %}"
                   class="btn btn-danger"
                   title="Удалить"
                   aria-label="Удалить">
                    <span class="showopacity glyphicon glyphicon-trash"></span>
                </a>
            </nav>
            <hr/>
        {% endif %}

    {% block structure_content %}
    {% endblock %}

    </div>
</div>
