{% extends 'moderation/structure/structure_template.html' %}

{% block approve_url %}
    {% url 'university_approve' university_id=university.pk %}
{% endblock %}

{% block delete_url %}
    {% url 'university_delete' university_id=university.pk %}
{% endblock %}


{% block structure_content %}

    <img class="univer-logo" src="{{ university.logo.url }}" alt="logo">

    <table class="table table-striped">

        <tr>
            <td><b>Название</b></td>
            <td>{{ university.title }}</td>
        </tr>

        <tr>
            <td><b>Аббривиатура</b></td>
            <td>{{ university.short_title }}</td>
        </tr>

        <tr>
            <td><b>Ссылка</b></td>
            <td>{{ university.link }}</td>
        </tr>

    </table>

{% endblock %}



