article.post {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto 1rem;
    box-shadow: 0 0.15em 0 #dddddd;
}

article.post .post-container {
    text-align: left;
    padding: 1.5rem;
    box-sizing: border-box;
}

article.post .post-container h1 {;
    font-size: 2rem;
    margin: 2rem 0 1rem;
}

article.post .post-container .text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; /* FIXME: Use relative units once possible */
    text-align: left;
}

article.post .post-container .text h1 {
    font-family: 'Alegreya', serif;
    font-size: 1.7em;
}

article.post .post-container .text h2 {
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
}

article.post .post-container .text h3 {
    font-family: 'Alegreya', serif;
    font-size: 1.3em;
}

article.post .post-container .text h4 {
    font-family: 'Alegreya', serif;
    font-size: 1.1em;
}

article.post .post-container img.post-img {
    background: url("/static/img/loading.svg") center no-repeat;
}

article.post .post-container footer {
    text-align: left;
}

article.post a.post-author {
    color: #6b8599;
}

article.post a.post-author:visited {
    color: #8a6b99;
}

article.post .post-created-date {
    color: #888888;
}

article.post .post-footer-badges {
    float: right;
}

article.post .post-footer-badges > * {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

article.post .post-footer-button-delete {
    color: rgb(255, 179, 179);
    color: rgba(255, 0, 0, 0.19);
}

article.post .post-footer-button-delete:hover {
    color: rgb(255, 77, 77);
    color: rgba(255, 0, 0, 0.63);
    text-decoration: none;
}

article.post .post-footer-button-edit {
    color: rgb(179, 179, 255);
    color: rgba(0, 0, 255, 0.19);
}

article.post .post-footer-button-edit:hover {
    color: rgb(77, 77, 255);
    color: rgba(0, 0, 255, 0.63);
    text-decoration: none;
}

article.post .post-footer-button-create-child-post {
    color: rgb(179, 179, 179);
    color: rgba(0, 0, 0, 0.19);
}

article.post .post-footer-button-create-child-post:hover {
    color: rgb(77, 77, 77);
    color: rgba(0, 0, 0, 0.63);
    text-decoration: none;
}

article.post .btn-follow-link, article.post .btn-download {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
    margin: 1rem 0.5rem;
}

.comments-counter {
    text-decoration: none !important;
    color: rgb(179, 179, 179);
}
