.idea/
node_modules/
resources/
*.zip
lib/*
/static
/media
/venv
/PiCloud/settings/secrets.json

### Python ###
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

### Mac ###
.DS_Store