{% extends 'main_template.html' %}

{% block content %}

    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
        }
    </style>

    <div class="message-panel">
        <p>
            Инструкции для изменения пароля высланы на указанный email <br>
            <b>(если он существует в нашей базе).</b><br>
            Вы должны получить письмо в ближайшее время!
        </p>
        <hr>
        <p>
            Если вы не получили письмо, убедитесь что указали корректный адрес и проверьте папку со спамом.
        </p>
    </div>

{% endblock %}