{% extends 'main_template.html' %}

{% block content %}
    {% if validlink %}
        <div class="sign-form django-control">
            <h3>Изменение пароля</h3>
            <hr>
            <form method="post">
                {% csrf_token %}

                <b>Придумайте новый пароль:</b>
                {{ form.new_password1 }}<br>
                <div style="color: red">{{ form.new_password1.errors }}</div>

                <b>Повторите пароль:</b>
                {{ form.new_password2 }}<br>
                <div style="color: red">{{ form.new_password2.errors }}</div>
                <hr>

                <div style="color: red">{{  form.non_field_errors  }}</div>
                <button class="btn btn-default" style="width: 100%" type="submit">Сохранить</button>
            </form>
        </div>
    {% else %}
        <div class="sign-form">
            <p style="color: red">
                Ссылка для изменения пароля некорректна, возможно из-за того что она уже была использована!
            <hr>
            Пожалуйста попытайтесь снова или <a href="{% url 'contacts' %}">напишите нам на почту</a>!
            </p>
        </div>
    {% endif %}
{% endblock %}