{% extends 'main_template.html' %}

{% block content %}

    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
        }
    </style>

    <div class="message-panel">
        <p>
            Инструкции для&nbsp;изменения пароля уже были высланы на&nbsp;указанный
            адрес электронной почты (если соответствующий аккаунт существует).
            <br>
            Вы должны получить письмо в&nbsp;ближайшее время!
        </p>
        <hr>
        <p>
            Если вы не&nbsp;получили письмо, убедитесь, что указали правильный адрес,
            и&nbsp;проверьте папку со&nbsp;спамом.
        </p>
    </div>

{% endblock %}
