{% load staticfiles %}
<!doctype html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">

        <link rel="icon" href="{% static 'img/favicon.png' %}">

        {% block head %}
        {% endblock %}

    </head>


    <body>

        <nav class="navbar navbar-default navbar-position sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a id="menu-brand" class="navbar-brand" href="{% url 'post_list' %}"><img src="{% static 'img/piLogo.png' %}" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li {% block settings_active %}{% endblock %}>
                                <a href="{% url 'settings' %}">
                                    <img id="avatar" src="{{ request.session.user_ava_url }}" alt="avatar"/>
                                    <h3 style="margin: 0;">{{ user.username }}</h3>
                                </a>
                            </li>
                        {% endif %}
                        <li {% block cloud_active %}{% endblock %}>
                            <a href="{% url 'post_list' %}">Облако<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud"></span></a>
                        </li>
                        <li {% block search_active %}{% endblock %}>
                            <a href="{% url 'search' %}">Поиск<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a>
                        </li>
                            {% if user.is_authenticated %}
                                <li {% block newpost_active %}{% endblock %}>
                                    <a href="{% url 'post_new' %}">Запостить<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-upload"></span></a>
                                </li>
                            {% endif %}
                        <li {% block memes_active %}{% endblock %}>
                            <a href="{% url 'memes' %}">Мемесы<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-fire"></span></a>
                        </li>
                        <li {% block universities_active %}{% endblock %}>
                            <a href="{% url 'universities' %}">Подразделения<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-education"></span></a>
                        </li>
                        <li {% block contacts_active %}{% endblock %}>
                            <a href="{% url 'contacts' %}">Обратная связь<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-phone-alt"></span></a>
                        </li>

                            {% if user.is_superuser %}
                                <li style="background-color: #DBC6EB">
                                    <a href="/admin">Администрирование<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-king"></span></a>
                                </li>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <li style="background-color: #FFCCCC">
                                    <a href="{% url 'signout' %}">Выйти<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a>
                                </li>
                            {% else %}
                                <li {% block signin_active %}{% endblock %} style="background-color: #CCFFFF">
                                    <a href="{% url 'signin' %}">Войти<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-in"></span></a>
                                </li>
                                <li {% block signup_active %}{% endblock %} style="background-color: #CCFFCC">
                                    <a href="{% url 'signup' %}">Регистрация<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
          </div>
        </nav>


        <div class="content-block main">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% block js %}
        {% endblock %}

    </body>

</html>