{% extends 'main_template.html' %}

{% block title %}
    Cloud Мемесы
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <table width="100%">
                    {% for mem in mem_list %}
                        {% if mem.text or mem.attachments %}
                            <tr>
                                <td>
                                    <div class="mem-panel">
                                        <hr>
                                        <div class="mem-content">
                                            {{ mem.text }}
                                            {% for photo in mem.attachments %}
                                                <img src="{{ photo.photo.photo_604 }}" alt="mem">
                                            {% endfor %}
                                        </div>
                                        <hr>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

    </div>


{% endblock %}
