{% extends 'main_template.html' %}

{% block title %}
    Cloud Мемесы
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            {% for meme in memes %}
                {% if meme.text or meme.attachments %}
                    <div class="meme">
                        {% if meme.text %}
                            <p class="meme-text">{{ meme.text }}</p>
                        {% endif %}
                        <div class="meme-gallery">
                            {% for attachment in meme.attachments %}
                                {% if attachment.type == 'photo' %}
                                    <img src="{{ attachment.photo.photo_604 }}"
                                         alt="Прикреплённое изображение">
                                {% endif %}
                            {% endfor %}
                        </div>
                        {#                        <hr>#}
                        <p class="meme-source">
                            <a href="https://vk.com/wall{{ meme.from_id }}_{{ meme.id }}"
                               target="_blank" title="Ссылка откроется в новой вкладке.">
                                Источник
                                <span class="glyphicon glyphicon-share"></span>
                            </a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

    </div>


{% endblock %}
