{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Cloud Поиск
{% endblock %}

{% block search_active %}
    class="active"
{% endblock %}

{% block head %}
    <!-- Showdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"
            integrity="sha256-dwhppIrxD8qC6lNulndZgtIm4XBU9zoMd9OUoXzIDAE=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}


    <div class="search-panel row">


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ university.university }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ department.department }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ chair.chair }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ program.program }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ subject.subject }}</div>

        <hr>
        <div id="search-line" class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <input class="form-control" type="text" placeholder="Введите запрос">
        </div>
        <div id="search-type" class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            {{ subject.type }}
        </div>
        <div id="search-button" class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <input class="form-control btn btn-primary" type="submit" onclick="search_posts()" value="Поиск">
        </div>

    </div>

    <div class="post-list">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div id="search_results" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-margin-padding">

            <div class='search-post-panel' style='padding: 10px;'>
                Здесь будут отображаться результаты поиска. <br>
                Введите ваш запрос
            </div>


        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>

{% endblock %}

{% block js %}

    <script src="{% static "js/department_search.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>

{% endblock %}
