{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Cloud Поиск
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}

    <div class="search-panel row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ university.university }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ department.department }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ chair.chair }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ program.program }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 search-select">{{ subject.subject }}</div>

        <hr>
        <div id="search-line" class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
            <input class="form-control" type="text"
                   title="Извините, полнотекстовый поиск временно не работает." disabled
                   placeholder="Введите запрос">
        </div>
        <div id="search-type" class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            {{ subject.type }}
        </div>
        <div id="search-button" class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
            <input class="form-control btn btn-primary" type="submit"
                   title="Извините, полнотекстовый поиск временно не работает." disabled
                   onclick="search_posts()" value="Поиск">
        </div>

    </div>

    <div id="search_results" class="post-list">
        <article class="post">
            <div class="post-container">
                <p>
                    Здесь будут отображаться результаты поиска.
                </p>
                <p>
                    Введите ваш запрос.
                </p>
            </div>
        </article>
    </div>
    </div>

{% endblock %}

{% block js %}

    <script src="{% static 'js/ready.js' %}"></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static "js/department_search.js" %}"></script>
    <script src="{% static "js/post_list.js" %}"></script>
    <script src="{% static "js/search.js" %}"></script>

    <script>
        ready(function () {
            clearAndDisableAllLists();

            {# TODO: Если subject_id предоставлен, подгрузить департаменты #}

            {% if request.GET.subject_id %}
                let subject_id = {{ request.GET.subject_id }};
                search(subject_id);
            {% endif %}

            {% if request.GET.type_id %}
                setType({{ request.GET.type_id }});
            {% endif %}

            {% if user_info %}
                document.getElementById("id_type").options[0].textContent = "Любого типа";
                loadUniversities()
                    .then(() => setUniversity({{ user_info.program.chair.department.university.pk }}))
                    .then(() => setDepartment({{ user_info.program.chair.department.pk }}))
                    .then(() => setChair({{ user_info.program.chair.pk }}))
                    .then(() => setProgram({{ user_info.program.pk }}))
                    .then(() => {
                        {% if request.GET.subject_id %}
                            let subject_id = {{ request.GET.subject_id }};
                            setSubject(subject_id);
                        {% endif %}
                    });
            {% else %}
                loadUniversities().then(() => setUniversity(1));
                $("#structure").addClass("in");
            {% endif %}

            document.getElementById("id_university").addEventListener("change", () => {
                universityChanged(document.getElementById("id_university").value);
            });
            document.getElementById("id_department").addEventListener("change", () => {
                departmentChanged(document.getElementById("id_department").value);
            });
            document.getElementById("id_chair").addEventListener("change", () => {
                chairChanged(document.getElementById("id_chair").value);
            });
            document.getElementById("id_program").addEventListener("change", () => {
                programChanged(document.getElementById("id_program").value);
            });
            document.getElementById("id_type").options[0].textContent = "Любого типа";
        });
    </script>

{% endblock %}
