{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Cloud Настройки
{% endblock %}

{% block settings_active%}
    class="active"
{% endblock %}

{% block content %}


    <div class="container-fluid no-margin-padding">

            <div class="post-panel panel-settings">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <img class="avatar-settings" src="{{ user_info.avatar.url }}" alt="avatar" style="width: 100%">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="text-align: left">
                        <table class="table">
                            <tr><th scope="row">Логин:</th><td>{{ user.username }}</td></tr>
                            <tr><th scope="row">Почта:</th><td>{{ user.email }}</td></tr>
                            <tr><th scope="row">Имя:</th><td>{{ user.first_name }}</td></tr>
                            <tr><th scope="row">Фамилия:</th><td>{{ user.last_name }}</td></tr>
                            <tr><th scope="row">Карма:</th><td>{{ user_info.karma }}</td></tr>
                            <tr><th scope="row">Статус:</th><td>{{ user_info.status.title }}</td></tr>
                        </table>
                    </div>
                </div>

                <hr>
                <label>Образование</label>
                <div class="container-fluid">
                    <table class="table" style="text-align: left">
                        <tr><th scope="row">Университет:</th><td>{{ user_info.program.chair.department.university.title }}</td></tr>
                        <tr><th scope="row">Факультет:</th><td>{{ user_info.program.chair.department.title }}</td></tr>
                        <tr><th scope="row">Кафедра:</th><td>{{ user_info.program.chair.title }}</td></tr>
                        <tr><th scope="row">Специальность:</th><td>{{ user_info.program.title }}</td></tr>
                    </table>
                </div>

                <hr>
                <label>Изменить пароль</label>
                <div class="container-fluid">
                    <form action="{% url "change_password" %}" method="post">
                        {% csrf_token %}

                        <table class="table" style="text-align: left">
                            <tr>
                                <th scope="row">Текущий пароль:</th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Новый пароль:</th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Повторите пароль:</th>
                                <td>

                                </td>
                            </tr>
                        </table>

                        <button class="btn btn-primary" type="submit">Изменить пароль</button>
                    </form>

                </div>

                <hr>
                <a href="{% url 'sign_out' %}"> <div class="btn btn-warning">Выйти!</div></a>
            </div>


    </div>
{% endblock %}