{% extends 'cloud/post_list.html' %}

{% block title %}
    Cloud Модерация
{% endblock %}

{% block content %}
    {% with editable=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block emptyloop %}
    <div class="post-panel">
        <h4>
            <hr>
            Здесь будут появляться еще не проверенные посты.
            <hr>
            На данный момент работа отсутствует.
            <hr>
            <a href="{% url 'post_new' %}">Запостить!</a>
            <hr>
        </h4>
    </div>
{% endblock %}
