{
  "SECRET_KEY": "not so secret",
  "GOOGLE_RECAPTCHA_SECRET_KEY": "put here your recaptcha secret key",
  "DEFAULT_DATABASE": {
    "ENGINE": "django.db.backends.postgresql_psycopg2",
    "NAME": "database_name",
    "USER": "database_user",
    "PASSWORD": "database_password",
    "HOST": "127.0.0.1",
    "PORT": "5432"
  },
  "EMAIL_HOST": "smtp.example.com",
  "EMAIL_HOST_USER": "somebody@example.com",
  "EMAIL_HOST_PASSWORD": "mail password",
  "EMAIL_PORT": 587,
  "VK_GLOBAL_TOKEN": "vk api token",
  "VK_GROUP_TOKEN": "vk group token",
  "VK_GROUP_LIST": [
    "picloudpw",
    "wisemrduck"
  ]
}
