#app {
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 200px;
    height: 100%;
}

.ui.navbar {
    z-index: 999999;
    position: static;
    overflow: hidden;
    overflow-behavior: none;
}

.ui.navbar .item {
    text-align: center;
    font-weight: bold !important;
    color: #777 !important;
    padding: 20px !important;
}

.ui.desktop.navbar {
    width: 200px !important;
    position: absolute !important;
    height: 100% !important;
}

.ui.mobile.navbar {
    bottom: 0;
    justify-content: space-around;
    position: fixed;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    border-radius: 0;
    margin: 0 !important;
    z-index: 99999;
}

.ui.mobile.navbar .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.navbar .item img.desktop-logo {
    display: block;
    width: auto;
}

.ui.navbar .item img.mobile-logo {
    display: none;
    width: auto;
}

.bottom-menu {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

#app::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

#app::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.navbar {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}


@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    @media screen and (max-width: 600px) {
        .ui.mobile.navbar {
            height: 85px;
        }
    }
    .ui.mobile.navbar {
        padding-bottom: 20px;
    }
}

/*  DESKTOP  */
@media screen and (min-width: 600px) {
    #app {
        height: 100%;
        width: calc(100% - 200px);
        bottom: 0;
        margin-left: 200px;
    }

    .ui.desktop.navbar {
        display: flex;
    }

    .ui.mobile.navbar {
        display: none;
    }
}

/*  TABLET  */
@media screen and (max-width: 992px) {
    #app {
        width: calc(100% - 56px);
        margin-left: 56px;
    }

    .ui.desktop.navbar {
        margin-left: -144px;
    }

    .ui.desktop.navbar:hover {
        margin-left: unset;
    }

    .ui.desktop.navbar:hover .item img.desktop-logo {
        display: block;
    }
    .ui.desktop.navbar:hover .item img.mobile-logo {
        display: none;
    }
    .ui.navbar .item img.desktop-logo {
        display: none;
    }
    .ui.navbar .item img.mobile-logo {
        display: block;
    }
}

/*  MOBILE  */
@media screen and (max-width: 600px) {
    #app {
        height: calc(100% - 75px);
        width: 100%;
        bottom: 75px;
        margin-left: 0;
    }

    .ui.desktop.navbar {
        display: none;
    }

    .ui.mobile.navbar {
        display: flex;
    }
}
