{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    PiCloud | 404
{% endblock %}


{% block content %}
    <div class="ui centered padded grid">
        <div class="ui placeholder segment" style="margin: 10% 40px; padding: 50px">
            <div class="ui icon header">
                <i class="search icon"> (404) </i>
                Page has been moved or not found 😔
            </div>
            <div class="ui divider"></div>
            <p>
                We're really sorry, but the page may have just been moved, <br>
                you can do a new search on the <a href="{% url 'cloud' %}">next page</a>
            </p>
            <div class="ui divider"></div>
            <p>
                If you need help, you can find us in the group:
            </p>
            <a href="https://vk.com/picloudpw" class="ui vk button" style="width: 300px">
                <i class="vk icon"></i>
            </a>
        </div>
    </div>
{% endblock %}