{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Вход
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/social_buttons.css' %}">
{% endblock %}

{% block content %}

    <div class="sign-form">
        <form method="post" class="ui form {% if error %} error {% endif %}" action="{% url 'signin' %}">
            {% csrf_token %}

            {% if msg %}
                <div class="ui icon message" role="alert">
                    <i class="sign-in icon"></i>
                    <div class="content">
                        {{ msg }}
                    </div>
                </div>
            {% endif %}

            {% if error %}
                <div class="ui icon error message">
                    <i class="exclamation icon"></i>
                    <div class="content">
                        {{ error }}
                    </div>
                </div>
            {% endif %}

            <div class="field">
                <label for="username">Логин</label>
                <div class="ui left icon input">
                    <input type="text" name="username" id="username" placeholder="Введите логин" autofocus>
                    <i class="user icon"></i>
                </div>
            </div>

            <div class="field">
                <label for="password">Пароль</label>
                <div class="ui left icon input">
                    <input type="password" name="password" id="password" placeholder="Введите пароль">
                    <i class="asterisk icon"></i>
                </div>
            </div>

            <div class="ui buttons">
                <input class="ui button" style="font-size: 20px;" type="submit" value="Войти"/>
                <a href="{{ vk_auth_link }}" style="font-size: 20px;" class="ui vk icon button"><i class="vk icon"></i></a>
            </div>

            <hr>

            <div class="ui basic buttons">
                <a class="ui button" href="{% url 'password_reset' %}">Восстановить пароль</a>
                <a class="ui button" href="{% url 'signup' %}">Регистрация</a>
            </div>

        </form>

    </div>

{% endblock %}
