{% extends 'main_template.html' %}

{% block content %}

    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
        }
    </style>

    <div class="password-reset-panel" style="color: green">
        <b>Ваш пароль был изменен!</b>
        <hr>
        Теперь вы можете <a href="{% url 'signin' %}">авторизоваться</a>!
        <hr>
        Команда PiCloud желает Вам всего хорошего!
    </div>

{% endblock %}
