{% extends 'main_template.html' %}

{% block title %}
    Новое подразделение
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">

        <div class="panel-group structure-panel" id="accordion">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h4 class="panel-title">
                            Добавить университет
                        </h4>
                    </a>
                </div>

                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="structure" value="university">

                            <div class="form-group django-control">
                                <label class="col-form-label">Полное название</label>
                                {{ new_university.title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Аббревиатура</label>
                                {{ new_university.short_title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Официальный сайт</label>
                                {{ new_university.link }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Логотип</label>
                                {{ new_university.logo }}
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-default" style="width: 100%">Отправить на
                                модерацию
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h4 class="panel-title">
                            Добавить факультет
                        </h4>
                    </a>
                </div>

                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="structure" value="department">

                            <div class="form-group django-control">
                                <label class="col-form-label">Университет</label>
                                {{ new_department.university }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Полное название</label>
                                {{ new_department.title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Аббревиатура</label>
                                {{ new_department.short_title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Страница факультета</label>
                                {{ new_department.link }}
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-default" style="width: 100%">Отправить на модерацию
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h4 class="panel-title">
                            Добавить кафедру
                        </h4>
                    </a>
                </div>

                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="structure" value="chair">

                            <div class="form-group django-control">
                                <label class="col-form-label">Факультет</label>
                                {{ new_chair.department }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Полное название</label>
                                {{ new_chair.title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Аббревиатура</label>
                                {{ new_chair.short_title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Страница кафедры</label>
                                {{ new_chair.link }}
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-default" style="width: 100%">Отправить на модерацию
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h4 class="panel-title">
                            Добавить программу обучения
                        </h4>
                    </a>
                </div>

                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="structure" value="program">

                            <div class="form-group django-control">
                                <label class="col-form-label">Кафедра</label>
                                {{ new_program.chair }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Полное название</label>
                                {{ new_program.title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Код программы</label>
                                {{ new_program.code }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Страница программы обучения</label>
                                {{ new_program.link }}
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-default" style="width: 100%">Отправить на модерацию
                            </button>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        <h4 class="panel-title">
                            Добавить предмет
                        </h4>
                    </a>
                </div>

                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="structure" value="subject">

                            <div class="form-group django-control">
                                <label class="col-form-label">Программы обучения, в которых присутствует данный
                                    предмет</label>
                                {{ new_subject.programs }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Полное название</label>
                                {{ new_subject.title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Аббревиатура</label>
                                {{ new_subject.short_title }}
                            </div>

                            <div class="form-group django-control">
                                <label class="col-form-label">Семестр</label>
                                {{ new_subject.semestr }}
                            </div>

                            <hr>
                            <button type="submit" class="btn btn-default" style="width: 100%">Отправить на модерацию
                            </button>
                        </form>

                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}
