{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    {{ program.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/program_page.css' %}">
{% endblock %}


{% block content %}


    <div class="container-fluid no-margin-padding">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <div class="back-panel">

                {% if program.link != "" %}
                    <a href="{{ program.link }}"><h3> {{ program.title }} </h3></a>
                {% else %}
                    <h3> {{ program.title }} </h3>
                {% endif %}

                <h5>
                    {{ program.chair.short_title }} &mdash;
                    {{ program.chair.department.short_title }} &mdash;
                    <a href="{% url 'university_page' program.chair.department.university.pk %}">
                        {{ program.chair.department.university.short_title }}
                    </a>
                </h5>

                <hr>


                {% for semester in semesters %}
                    {% if semester != 0 %}
                        <h4> Семестр {{ semester }}:</h4>
                    {% else %}
                        <h4> Глобальные материалы:</h4>
                    {% endif %}

                    {% for subject in subjects %}
                        {% if subject.semester == semester %}
                            <a class="subject-link" href="{% url 'subject_page' subject.pk%}">
                                <div class="subject-item full-width">
                                    <span class="subject-title">{{ subject.title }}</span>
                                    {% comment %}<span class="subject-label">{{ subject.short_title }}</span>{% endcomment %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}

                    <hr>
                {% endfor %}


            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>


{% endblock %}
