{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Студенты
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/universities.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid no-margin-padding">

        {% for student in students_info %}
            <a href="{% url 'user_page' student.user.pk %}" class="university">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="avatar-settings"
                         style="background-image: url({{ student.avatar.url }})">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h1>{{ student.user.username }}</h1>
                    <h4>{{ student.status.title }}</h4>
                    <h4>Карма - {{ student.karma }}</h4>
                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}
