{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Вузы
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/universities.css' %}">
{% endblock %}

{% block content %}

    <style></style>

    <div class="container-fluid no-margin-padding">

        {% for university in univer_list %}
            <a href="{{ university.pk }}/" class="university">
                <img class="university-logo" src="{{ university.logo.url }}" alt="univer-logo">
                <h1>{{ university.title }}</h1>
            </a>
        {% endfor %}

        <a href="{% url 'new_university' %}" class="button-add-university btn btn-default">
            Добавить вуз
        </a>

    </div>

{% endblock %}
