{% extends 'main_template.html' %}

{% block title %}
    {{ univer.short_title }}
{% endblock %}

{% block universities_active %}
    class="active"
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">
        <div class="post-panel panel-settings">

            <div class="row">
                <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                    <img class="univer-logo" src="{{ univer.logo.url }}" alt="univer-logo">
                </div>
                <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                    <h3>{{ univer.title }}</h3>
                    <a href="{{ univer.link }}"> официальный сайт </a>
                </div>
            </div>

            <br>

            <div class="container-fluid">
                <table class="table" style="text-align: left">
                    <tr>
                        <th scope="row">Всего постов:</th>
                        <td>{{ stats.posts }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Всего просмотров:</th>
                        <td>{{ stats.views }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Людей зарегистрировано:</th>
                        <td>{{ stats.persons }}</td>
                    </tr>
                </table>
            </div>

            <br>

            {% for department in departments %}
                <div class="panel panel-primary">
                    <div class="panel-heading" data-toggle="collapse"
                         href="#department_{{ department.pk }}">
                        {{ department.title }}
                    </div>
                    <div id="department_{{ department.pk }}" class="collapse">
                        <div class="panel-body no-margin-padding">

                            {% for chair in chairs %}
                                {% if chair.department.pk == department.pk %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading" data-toggle="collapse"
                                             href="#chair_{{ chair.pk }}">
                                            {{ chair.title }}
                                        </div>
                                        <div id="chair_{{ chair.pk }}" class="collapse">
                                            <div class="panel-body no-margin-padding">
                                                <div class="list-group">

                                                    {% for program in programs %}
                                                        {% if program.chair.pk == chair.pk %}
                                                            <a class="list-group-item"
                                                               href="/program/{{ program.pk }}">{{ program.title }}</a>
                                                        {% endif %}
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
