{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Cloud
{% endblock %}

{% block head %}
    <!-- Аутентификация в Яндекс Вебмастер -->
    <meta name="yandex-verification" content="c3f40ad459bc9654"/>

    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_image.css' %}">

{% endblock %}

{% block content %}

    {% block navigation %}
        <div style="width: calc(100% - 20px); display:flex; flex-wrap; align-items: center; border-radius: 0.5rem; /* border: 1px #b3b3ff solid; */ overflow: hidden; overflow-x: auto;margin:1rem;padding:0;box-sizing: border-box;">
            <div style="display: block; flex-shrink: 0; padding: 1rem 1.5rem; background: hsl(240,100%,90%)">
                <span style="">Интересные мне</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem;flex-shrink: 0; display: block; background: hsl(300,100%,90%)">
                Автор:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px; cursor: pointer">@edubenetskiy</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem; flex-shrink: 0;display: block; background: hsl(0,100%,90%)">
                Кафедра:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px;cursor: pointer">ВТ</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem; flex-shrink: 0;display: block; background: hsl(60,100%,90%)">
                Предмет:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px;cursor: pointer">ПИП</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <button style="color: hsl(120,25%,50%); padding: 1rem 1.5rem; flex-shrink: 0; background: hsl(120,100%,95%); border:0;"
                    title="Добавить критерий поиска"
                    aria-label="Добавить критерий поиска"
                    onclick="addCriteria()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <script>
                function addCriteria() {
                    let panel = document.getElementById('search_misc');
                    panel.style.display = (panel.style.display == "none" ? "flex" : "none");
                }
            </script>
            <input type="text"
                   style=" width: 100%; background: white; border: 0; padding: 1rem 1.5rem;margin:0;"
                   placeholder="Поисковый запрос">
            <button style="color: hsl(240,50%,50%); padding: 1rem 1.5rem; flex-shrink: 0; background: hsl(0,0%,95%); border:0;"
                    type="button"
                    title="Искать"
                    aria-label="Искать">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div id="search_misc"
             style="width: calc(100% - 20px); display:flex; flex-wrap; align-items: center; border-radius: 0.5rem; /* border: 1px #b3b3ff solid; */ overflow: hidden; overflow-x: auto;margin:1rem;padding:0;box-sizing: border-box;">
            <select name="sas" id="kek">
                <option value="kek">Sas</option>
            </select>
            <div style="display: block; flex-shrink: 0; padding: 1rem 1.5rem; background: hsl(240,100%,90%)">
                <span style="">Интересные мне</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem;flex-shrink: 0; display: block; background: hsl(300,100%,90%)">
                Автор:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px; cursor: pointer">@edubenetskiy</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem; flex-shrink: 0;display: block; background: hsl(0,100%,90%)">
                Кафедра:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px;cursor: pointer">ВТ</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div style="padding: 1rem 1.5rem; flex-shrink: 0;display: block; background: hsl(60,100%,90%)">
                Предмет:
                <span style="font-weight: bold; border-bottom: #666666 dotted 1px;cursor: pointer">ПИП</span>
                <a href="#" style="color: grey;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <button style="color: hsl(120,25%,50%); padding: 1rem 1.5rem; flex-shrink: 0; background: hsl(120,100%,95%); border:0;"
                    title="Добавить критерий поиска"
                    aria-label="Добавить критерий поиска"
                    onclick="addCriteria()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input type="text"
                   style=" width: 100%; background: white; border: 0; padding: 1rem 1.5rem;margin:0;"
                   placeholder="Поисковый запрос">
            <button style="color: hsl(240,50%,50%); padding: 1rem 1.5rem; flex-shrink: 0; background: hsl(0,0%,95%); border:0;"
                    type="button"
                    title="Искать"
                    aria-label="Искать">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    {% endblock %}

    <div id="modal">
        <span class="close">&times;</span>
        {# Загружает GIF-изображение размером 1×1 пиксел. #}
        <img class="modal-content" id="modalImg" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
        <a id="show-full-btn" href="#" target="_blank" class="btn btn-primary">
            Открыть оригинал в новой вкладке
        </a>
    </div>

    {% if posts %}
        <main class="post-list">
            {% for post in posts %}
                {% include "cloud/post.html" %}
            {% endfor %}
        </main>
    {% else %}
        {% block emptyloop %}
            {% if empty_message %}
                <div class="no-posts">
                    <h4>
                        <hr>
                        {{ empty_message }}
                        <hr>
                    </h4>
                </div>
            {% else %}
                <div class="no-posts">
                    <p>
                        Здесь будут появляться посты, актуальные для вашего направления.
                    </p>
                    <p>
                        Вы можете внести свой вклад и <a href="{% url 'post_new' %}">запостить что-нибудь</a>.
                    </p>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% if posts.has_other_pages %}
        <nav class="pagination" aria-label="Навигация по страницам">
            <ul class="pagination">

                {% if posts.has_previous %}
                    <li>
                        <a href="?page={{ posts.previous_page_number }}" aria-label="Предыдущая">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="active">
                            <span>
                                {{ i }}
                                <span class="sr-only">
                                    (текущая страница)
                                </span>
                            </span></li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}" aria-label="Следующая"><span
                            aria-hidden="true">&raquo;</span></a>
                    </li>
                {% else %}
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/post_list.js' %}"></script>
    <script>
        let modal = document.getElementById('modal');
        let modalImg = document.getElementById("modalImg");
        let showFullBtn = document.getElementById("show-full-btn");

        for (let img of document.getElementsByClassName('post-img')) {
            img.addEventListener('click', function () {
                modal.style.display = "grid";
                modalImg.src = this.src;
                showFullBtn.href = this.src;
            });
        }

        let closeBtn = document.getElementsByClassName("close")[0];
        closeBtn.addEventListener('click', () => {
            modal.style.display = "none";
        });
    </script>
{% endblock %}
