{% extends 'main_template.html' %}

{% block title %}
    Cloud
{% endblock %}

{% block cloud_active%}
    class="active"
{% endblock %}

{% block content %}

    <div class="container-fluid" style="margin: 0; padding: 0;">
        {% for post in posts %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="post-panel">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a></h1>
                    <p>{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}