{% extends 'main_template.html' %}

{% block title %}
    Cloud
{% endblock %}

{% block cloud_active%}
    class="active"
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">
        {% for post in posts %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="post-panel">
                    <hr>
                    <h3>
                        <a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a>
                    </h3>
                    <p>{{ post.text }}</p>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="post-image">
                        {% endif %}
                        {% if post.link %}
                           <a href="{{ post.link }}"><div class="btn btn-default">Прикреплённая ссылка</div></a>
                        {% endif %}
                        {% if post.file %}
                            <a href="{{ post.file.url }}"><div class="btn btn-default">Прикреплённый файл</div></a>
                        {% endif %}
                    <table class="table">
                        <tr>
                            <td>{{ post.subject.short_title }}</td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.type.title }}</td>
                            <td>{{ post.created_date }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}