<article class="post">
    <div class="post-container">
        {% if editable %}
            {% if user == post.author or user.is_staff or user.is_superuser %}
                <nav class="post-moderation">
                    <a href="{% url 'post_checked' pk=post.pk %}" class="btn btn-success">
                        <span class="showopacity glyphicon glyphicon-ok"></span>
                        Одобрить
                    </a>
                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-warning">
                        <span class="showopacity glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">
                        <span class="showopacity glyphicon glyphicon-trash"></span>
                    </a>
                    <hr>
                </nav>
            {% endif %}
        {% endif %}
        <header>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <p class="subject">
                <span class="type">{{ post.type.title }}</span>
                |
                <a class="subject"
                   href="/subject/{{ post.subject.pk }}">{{ post.subject.short_title }}</a>
            </p>
        </header>
        <hr/>
        <div class="text">
            {{ post.html | safe }}
        </div>
        {% if post.image %}
            <img src="{{ post.image.url }}" class="post-img">
        {% endif %}
        {% if post.link %}
            <a href="{{ post.link }}" class="btn btn-primary">
                Перейти по&nbsp;ссылке
            </a>
        {% endif %}
        {% if post.file %}
            <a href="{{ post.file.url }}" class="btn btn-success">
                Скачать файл
            </a>
        {% endif %}
        <hr/>
        <footer>
            <a href="/user/{{ post.author.pk }}" class="author">{{ post.author }}</a>
            ({{ post.created_date }})
            <span style="float: right;">
                            <span style="font-size:12px;"
                                  class="showopacity glyphicon glyphicon-eye-open">
                            </span>
                                {{ post.views }}
                        </span>
        </footer>
    </div>
</article>
