{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Cloud Редактирование
{% endblock %}

{% block head %}
    <!-- Showdown -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"
            integrity="sha256-dwhppIrxD8qC6lNulndZgtIm4XBU9zoMd9OUoXzIDAE=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6">
                <div class="post-edit-panel">

                    <div class="panel panel-info">
                        <div class="panel-heading" data-toggle="collapse" href="#structure">
                            Университет — Факультет — Кафедра — Программа обучения
                        </div>
                    </div>
                    <div id="structure" class="collapse">
                        <div class="form-group django-control">
                            <label class="col-form-label">Университет</label>
                            <select name="university" id="id_university"></select>
                        </div>

                        <div class="form-group django-control">
                            <label class="col-form-label">Факультет</label>
                            <select name="department" id="id_department"></select>
                        </div>

                        <div class="form-group django-control">
                            <label class="col-form-label">Кафедра</label>
                            <select name="chair" id="id_chair"></select>
                        </div>

                        <div class="form-group django-control">
                            <label class="col-form-label">Программа обучения</label>
                            <select name="program" id="id_program"></select>
                        </div>
                    </div>


                    <div class="form-group django-control">
                        <label>Предмет</label>
                        {{ form.subject }}
                    </div>

                    <div class="form-group django-control">
                        <label>Заголовок</label>
                        {{ form.title }}
                    </div>

                </div>

            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div id="markdown-input" class="post-edit-panel">
                    <div id="flexarea">
                        {{ form.text }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div id="markdown-output" class="post-edit-panel">
                    <div id="markdownLive" style="height: 300px; overflow-y: scroll;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>

        </div>

        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6">
                <div class="post-edit-panel">

                    <div class="form-group django-control">
                        <label>Тип поста</label>
                        {{ form.type }}
                    </div>

                    <div id="linkInput" class="form-group django-control row link" style="display: none">
                        <label class="col-sm-2 text-right">Ссылка: </label>
                        <div class="col-sm-10">{{ form.link }}</div>
                    </div>

                    <div id="pictureInput" class="form-group django-control row picture" style="display: none">
                        <label class="col-sm-2 text-right">Картинка: </label>
                        <div class="col-sm-10">{{ form.image }}</div>
                    </div>

                    <div id="fileInput" class="form-group django-control row file" style="display: none">
                        <label class="col-sm-2 text-right">Файл: </label>
                        <div class="col-sm-10">{{ form.file }}</div>
                    </div>

                    <div class="container-fluid no-margin-padding">
                        <div id="btnLink" class="btn btn-default col-xs-4 col-sm-1 col-md-1 col-lg-1"
                             onclick="displayInputBlock(this, '#linkInput')">
                            <span style="font-size:16px;" class="showopacity glyphicon glyphicon-link"></span>
                        </div>
                        <div id="btnPicture" class="btn btn-default col-xs-4 col-sm-1 col-md-1 col-lg-1"
                             onclick="displayInputBlock(this, '#pictureInput')">
                            <span style="font-size:16px;" class="showopacity glyphicon glyphicon-picture"></span>
                        </div>
                        <div id="btnFile" class="btn btn-default col-xs-4 col-sm-1 col-md-1 col-lg-1"
                             onclick="displayInputBlock(this, '#fileInput')">
                            <span style="font-size:16px;" class="showopacity glyphicon glyphicon-open-file"></span>
                        </div>
                        <button type="submit" class="btn btn-default col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            Сохранить
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-md-3 col-lg-3"></div>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script src="{% static 'js/markdown_live_preview.js' %}"></script>
    <script src="{% static 'js/department_search.js' %}"></script>
    <script>

        $(document).ready(function () {
            $("#id_type option:first").remove();

            $("#id_university").change(function () {
                setUniversity($(this).val())
            });
            $("#id_department").change(function () {
                setDepartment($(this).val())
            });
            $("#id_chair").change(function () {
                setChair($(this).val())
            });
            $("#id_program").change(function () {
                setProgram($(this).val())
            });

            checkEditOrNew()
        });

        function displayInputBlock(button, groupID) {
            if ($(groupID).css("display") === "none") {
                $(groupID).css({"display": "block"});
                $(button).removeClass("btn-default").addClass("btn-info");
            } else {
                $(groupID).css({"display": "none"});
                $(button).removeClass("btn-info").addClass("btn-default");
            }

        }

        function checkEditOrNew() {
            if ($("#id_title").val() === "") {

                // Страница создания поста
                loadUniversities();
                if ("{{ user_info.program.pk }}" !== "") {
                    setUniversity({{ user_info.program.chair.department.university.pk }});
                    setDepartment({{ user_info.program.chair.department.pk }});
                    setChair({{ user_info.program.chair.pk }});
                    setProgram({{ user_info.program.pk }});
                } else {
                    setUniversity(1);
                    $("#structure").addClass("in");
                }

                // FIXME: Костыль. Ждём, пока выполнится AJAX-запрос!
                let last_post_subject = "{{ request.session.last_post_subject }}";
                if (last_post_subject != "")
                    setTimeout(function () {
                        $("#id_subject").val(last_post_subject)
                    }, 200);

            } else {

                // Редактирование поста
                loadUniversities();
                setUniversity({{ post.subject.programs.first.chair.department.university.pk }});
                setDepartment({{ post.subject.programs.first.chair.department.pk }});
                setChair({{ post.subject.programs.first.chair.pk }});
                setProgram({{ post.subject.programs.first.pk }});

                if ("{{ post.link }}" != "None")
                    displayInputBlock("#btnLink", "#linkInput");
                if ("{{ post.image }}" != "")
                    displayInputBlock("#btnPicture", "#pictureInput");
                if ("{{ post.file }}" != "")
                    displayInputBlock("#btnFile", "#fileInput");

                // FIXME: Костыль. Ждём, пока выполнится AJAX-запрос!
                setTimeout(function () {
                    $("#id_subject").val({{ post.subject.pk }})
                }, 200);
            }
        }

    </script>
{% endblock %}
