{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <div class="post-panel">
                {% if message %}
                    <div class="alert alert-info alert-dismissible show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    <hr>
                {% endif %}
                {% include 'cloud/post.html' %}
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>


{% endblock %}
