{% extends 'main_template.html' %}

{% block title %}
    Cloud Пост
{% endblock %}

{% block cloud_active%}
    class="active"
{% endblock %}

{% block content %}

    <div class="container-fluid no-margin-padding">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <div class="post-panel" style="padding: 30px">
                <h2> {{ post.title }}</h2>
                <hr>
                <p>{{ post.text }}</p>

                {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image">
                {% endif %}

                {% if post.link %}
                    <br><br>
                    <a href="{{ post.link }}">
                        <div class="btn btn-info" style="width:100%">Прикреплённая ссылка</div>
                    </a>
                {% endif %}

                {% if post.file %}
                    <br><br>
                    <a href="{{ post.file.url }}">
                        <div class="btn btn-success" style="width:100%">Прикреплённый файл</div>
                    </a>
                    <br><br>
                {% endif %}

                <table class="table" style="text-align: left">
                    <tr>
                        <th>Предмет:</th>
                        <td>{{ post.subject.title }}</td>
                    </tr>
                    <tr>
                        <th>Автор:</th>
                        <td>{{ post.author }}</td>
                    </tr>
                    <tr>
                        <th>Тип:</th>
                        <td>{{ post.type.title }}</td>
                    </tr>
                    <tr>
                        <th>Дата публикации:</th>
                        <td>{{ post.created_date }}</td>
                    </tr>
                    <tr>
                        <th>Университет:</th>
                        <td>{{ post.subject.program.chair.department.university.title}}</td>
                    </tr>
                    <tr>
                        <th>Факультет:</th>
                        <td>{{ post.subject.program.chair.department.title}}</td>
                    </tr>
                    <tr>
                        <th>Кафедра:</th>
                        <td>{{ post.subject.program.chair.title}}</td>
                    </tr>
                    <tr>
                        <th>Программа:</th>
                        <td>{{ post.subject.program.title }}</td>
                    </tr>
                    </table>

                {% if user == post.author or user.is_staff or user.is_superuser %}
                    <a href="{% url 'post_edit' pk=post.pk %}">
                        <div class="btn btn-warning" style="width:100%">
                            Редактировать пост
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>


{% endblock %}