<article class="post">
    <div class="post-container" id="post-{{ post.pk }}">
        {% if editable %}
            {% if user == post.author or user.userinfo.status.can_moderate or user.is_staff or user.is_superuser %}
                <nav class="post-moderation btn-group">
                    <a href="{% url 'post_checked' pk=post.pk %}"
                       class="btn btn-success">
                        <span class="showopacity glyphicon glyphicon-ok"></span>
                        Одобрить
                    </a>
                    <a href="{% url 'post_edit' pk=post.pk %}"
                       class="btn btn-warning"
                       title="Редактировать"
                       aria-label="Редактировать">
                        <span class="showopacity glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{% url 'post_delete' pk=post.pk %}"
                       class="btn btn-danger"
                       title="Удалить"
                       aria-label="Удалить">
                        <span class="showopacity glyphicon glyphicon-trash"></span>
                    </a>
                </nav>
                <hr/>
            {% endif %}
        {% endif %}
        <header>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <p class="subject">
                <span class="type">{{ post.type.title }}</span>
                |
                <a class="subject" title="{{ post.subject.title }}"
                   href="/subject/{{ post.subject.pk }}">{{ post.subject.short_title }}</a>
            </p>
        </header>
        <hr/>
        <div class="text">
            {{ post.html | safe }}
        </div>
        {% if post.image %}
            {% if post.image.get_image_height %}
                <img src="{{ post.image.url }}"
                     ratio="{{ post.get_image_width }}x{{ post.get_image_height }}"
                     class="post-img">
            {% else %}
                <img src="{{ post.image.url }}" class="post-img">
            {% endif %}
        {% endif %}
        {% if post.link %}
            <a href="{{ post.link }}" class="btn btn-primary">
                Перейти по&nbsp;ссылке
            </a>
        {% endif %}
        {% if post.file %}
            <a href="{{ post.file.url }}" class="btn btn-success">
                Скачать файл
            </a>
        {% endif %}
        <hr/>
        <footer>
            <a class="post-author"
               title="Автор записи"
               href="/user/{{ post.author.pk }}">{{ post.author }}</a>
            <span class="post-created-date" title="Дата и время создания записи">
                ({{ post.created_date }})
            </span>
            <span class="post-footer-badges">
                {% if user == post.author or user.userinfo.status.can_moderate or user.is_staff or user.is_superuser %}
                    <a class="post-footer-button-delete"
                       title="Удалить запись"
                       href="{% url 'post_delete' pk=post.pk %}">
                        <span class="showopacity glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="post-footer-button-edit"
                       title="Редактировать запись"
                       href="{% url 'post_edit' pk=post.pk %}">
                        <span class="showopacity glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}
                <span class="post-views-counter" title="Число просмотров">
                    <span style="font-size:12px;"
                          aria-label="Число просмотров"
                          class="showopacity glyphicon glyphicon-eye-open">
                    </span>
                    {{ post.views }}
                </span>
            </span>
        </footer>
        <script>
            {# TODO: Не генерировать этот код на каждом посте #}
            document
                .querySelector('#post-{{ post.pk }} .post-footer-button-delete')
                .addEventListener('click', (e) => {
                    if (!confirm("Удалить запись? После этого действия запись будет невозможно восстановить.")) {
                        e.preventDefault();
                    }
                });
        </script>
    </div>
</article>
