<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="post-panel">

        {% if structure.logo %}
            {% if user == post.author or user.userinfo.status.can_moderate or user.is_staff or user.is_superuser %}
                <hr/>
                <nav class="post-moderation btn-group">
                    <a href="{% url 'university_approve' university_id=structure.pk %}"
                       class="btn btn-success">
                        <span class="showopacity glyphicon glyphicon-ok"></span>
                        Одобрить
                    </a>
                    <a href="{% url 'university_delete' university_id=structure.pk %}"
                       class="btn btn-danger"
                       title="Удалить"
                       aria-label="Удалить">
                        <span class="showopacity glyphicon glyphicon-trash"></span>
                    </a>
                </nav>
                <hr/>
            {% endif %}
        {% endif %}


        {% if structure.logo %}
            <img class="univer-logo" src="{{ structure.logo.url }}" alt="logo">
        {% endif %}

        <table class="table table-striped">

            {% if structure.university %}
                <tr>
                    <td><b>Университет</b></td>
                    <td>{{ structure.university.short_title }}</td>
                </tr>
            {% endif %}

            {% if structure.chair %}
                <tr>
                    <td><b>Кафедра</b></td>
                    <td>{{ structure.chair.short_title }}</td>
                </tr>
            {% endif %}

            {% if structure.program %}
                <tr>
                    <td><b>Программа</b></td>
                    <td>{{ structure.program.title }}</td>
                </tr>
            {% endif %}

            {% if structure.subject %}
                <tr>
                    <td><b>Предмет</b></td>
                    <td>{{ structure.subject.short_title }}</td>
                </tr>
            {% endif %}

            {% if structure.title %}
                <tr>
                    <td><b>Название</b></td>
                    <td>{{ structure.title }}</td>
                </tr>
            {% endif %}
            {% if structure.short_title %}
                <tr>
                    <td><b>Аббривиатура</b></td>
                    <td>{{ structure.short_title }}</td>
                </tr>
            {% endif %}
            {% if structure.link %}
                <tr>
                    <td><b>Ссылка</b></td>
                    <td>{{ structure.link }}</td>
                </tr>
            {% endif %}
            {% if structure.code %}
                <tr>
                    <td><b>Код программы</b></td>
                    <td>{{ structure.code }}</td>
                </tr>
            {% endif %}
            {% if structure.semester %}
                <tr>
                    <td><b>Семестр</b></td>
                    <td>{{ structure.semester }}</td>
                </tr>
            {% endif %}

        </table>


    </div>
</div>
