body {
    background-color: aliceblue;
    font-family: 'Roboto Slab', serif;
}

nav.navbar {
    border-radius: 0 !important;
}

.content-block {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.no-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.error {
    text-align: center;
    color: crimson;
    font-weight: bold;
}

.avatar-settings {
    margin: auto;

    width: 250px;
    height: 250px;

    background-size: cover;
    background-position: top center;

    border-radius: 50%;
}

.post-panel, .sign-form, .universities, .search-post-panel, .post-edit-panel,
.message-panel, .password-reset-panel, .mem-panel {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    margin: 5px auto;
}

.post-panel img.post-img, .mem-panel img, .post-img {
    padding: 5px;
    width: 100%;
}

.post-text {
    text-align: left;
    padding: 0 20px;
}

.post-edit-panel {
    padding: 10px;
    margin: 10px;
}

.sign-form {
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
}

.mem-panel {

}

.universities {
    max-width: 600px;
    margin-bottom: 20px;
}

img.univer-logo {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
    border-radius: 100%;
}

.search-panel {
    background-color: #f8f8f8;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: -20px -20px 0 0;
    padding: 10px;
}

.search-post-panel {
    margin: 10px;
    padding-top: 10px;
}

.search-select {
    margin-bottom: 10px;
}

.panel-settings {
    padding: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.message-panel {
    margin-bottom: 20px;
    max-width: 600px;
    padding: 10px;
}

.password-reset-panel {
    margin-bottom: 20px;
    width: 600px;
    padding: 10px;
}

.django-control input, select, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="checkbox"] {
    height: 20px;
}

.panel-heading {
    cursor: pointer;
}

#search-line {
    padding-right: 15px;
}

#search-type {
    padding-right: 15px;
    padding-left: 15px;
}

#search-button {
    padding-left: 15px;
}

@media (min-width: 676px) {
    #search-line {
        padding-right: 0;
    }

    #search-type {
        padding-right: 0;
        padding-left: 0;
    }

    #search-button {
        padding-left: 0;
    }
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

#markdownLive {
    border-radius: 10px;
    text-align: left;
}

