/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-size: 14pt;
}

body {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1rem;
    background: #333333;
    color: #EEEEEE;
}

a {
    color: #EEEEEE;
}

/**
 * Content headers
 */

h1, h2, h3 {
    font-family: "Alegreya", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
}

/**
 * Page header
 */

header {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #222222;
    padding: 1em 0;
    box-shadow: 0 0 0.2em #222222;
}

.headline {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

img.logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.headline a.logo {
    display: inline-block;
    line-height: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

.headline .bar {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-right: #EEEEEE solid 0.15em;
    margin: 0 0.7em;
}

.headline .buttons {
    margin-left: 0.5rem;
    display: inline-block;
    float: right;
}

.headline a.right {
    float: right;
}

.headline a {
    font-family: "Alegreya", serif;
    color: #EEEEEE;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    line-height: 3rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0 0;
}

.headline a:hover {
    text-decoration: underline;
}

.headline a.button {
    font-weight: bold;
    margin: 0;
    color: #222222;
    background: #EEEEEE;
    text-decoration: none;
    padding: 0.5rem 1em;
    line-height: 2rem;
    border-radius: 0.2rem;
    vertical-align: middle;
    box-shadow: 0 0.15em 0 #888888;
}

.headline a.button:hover {
    background: #DDDDDD;
}

/**
 * Hero elements
 */

.heroes {
    margin: 5rem 0 4rem;
    font-family: "Alegreya", serif;
    text-align: center;
}

.heroes .hero {
    font-weight: 700;
    font-size: 2rem;
    word-spacing: .2em;
    margin: 0.3em 0;
}

.heroes .heroine {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0.3em 0;
}

.heroes .description {
    max-width: 600px; 
    margin: 2em auto; 
    font-family: 'Alegreya Sans', sans-serif;
}

a.button {
    display: inline-block;
    vertical-align: middle;

    margin: 1rem 0;
    padding: 0.5rem 1em;
    line-height: 2rem;

    font-family: "Alegreya", serif;
    font-weight: bold;

    text-decoration: none;

    background: #EEEEEE;
    color: #222222;

    border-radius: 0.2rem;
    box-shadow: 0 0.15em 0 #888888;
}

a.button:hover {
    background-color: #DDDDDD;
}


/**
 * List of advantages
 */

.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem -1rem 3rem;
}

.advantage {
    display: flex;
    margin: 1rem;
    flex-basis: calc(50% - 2rem);
    flex-flow: column wrap;
}

.advantage .icon {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.advantage h3 {
    text-align: center;
    margin: 0.7rem 0;
}

.advantage p {
    margin: 0.2rem 0;
    font-size: 0.95rem;
}

.join {
    text-align: center;
}

/**
 * List of universities
 */

ul.universities {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
}

ul.universities li {
    display: block;
    list-style: none;
    margin: 1rem;
}

ul.universities li a img {
    height: 5rem;
}

/**
 * Page footer
 */

footer {
    width: 100%;
    padding: 1em 0;
    line-height: 1rem;
    text-align: center;
    margin: 2rem 0 0;
    color: #666666;
    z-index: -1;
    background-color: #222222;
    box-shadow: 0 0 0.2em #222222;
    font-family: "Alegreya SC", serif;
    font-size: 80%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 40em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (max-width: 40em) {
    .advantage {
        flex-basis: 100%;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
           http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


