{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Departments
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'chats/css/main.css' %}">

{% endblock %}


{% block content %}

    <div class="ui padded chats grid">
        <div class="ui segment no-margin-padding four wide computer six wide tablet column" id="chat_list"></div>
        <div class="ui segment no-margin-padding eight wide computer ten wide tablet column" id="chat_content"></div>
        <div class="ui segment no-margin-padding four wide computer only column" id="chat_bar"></div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'chats/js/main.js' %}"></script>

{% endblock %}
