{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Chats
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'chats/css/main.css' %}">

{% endblock %}


{% block content %}

    <div id="chats" style="height: 100%"></div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'chats/js/emojis.js' %}"></script>
    <script type="module">
        import {Chats} from "../static/chats/js/main.js";
        let container = document.getElementById('chats');
        let app = new Chats(container);
    </script>

{% endblock %}
