{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Cloud
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'cloud/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'cloud/css/comments.css' %}">
    <link rel="stylesheet" href="{% static 'cloud/css/modal_image.css' %}">
    <link rel="stylesheet" href="{% static 'cloud/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'cloud/css/post_list.css' %}">
    <link rel="stylesheet" href="{% static 'cloud/css/search.css' %}">

{% endblock %}


{% block content %}

    <div class="ui padded grid">
        <div class="no-margin-padding column">
            <div class="ui segment" id="search_container" style="height: 70px; text-align: left;">
                <div class="ui loading search">
                    <div class="ui input">
                        <input class="prompt" id="search" type="text" placeholder="Enter search query"
                               style="border-radius: 50px;">
                    </div>
                    <div class="search results"></div>
                </div>
            </div>

            <div id="modal"></div>
            <div id="posts_container" class="ui basic segment"
                 style="min-height: 100px; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'cloud/js/main.js' %}"></script>

    <!--  Multi select input -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js"
            integrity="sha256-gkqnhj5TvM/vwvHKAb4zBC7uL6mndcAlK6CEv5iEUwg=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script>
        const grid = document.querySelector('#posts_container');
        clearPostsContainer(grid);
        const masonry = new Masonry(grid, {
            itemSelector: ".post",
            columnWidth: ".post-size-reference",
            gutter: ".post-grid-gutter-size-reference",
            percentPosition: true,
        });
        imagesLoaded(grid).on('progress', () => {
            masonry.layout();
        });
    </script>
{% endblock %}
