{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Departments
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'departments/css/main.css' %}">

{% endblock %}


{% block content %}

    <div id="modal"></div>

    <div id="hierarchy_root"></div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'students/js/students_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'subjects/js/subjects.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/child_departments.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/main.js' %}"></script>

{% endblock %}
