{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Departments
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'departments/css/main.css' %}">

{% endblock %}


{% block content %}

    <div class="ui padded grid">
        <div class="no-margin-padding column">
            <div id="breadcrumbs_container" style="text-align: left; margin-bottom: 20px; min-height: 70px"></div>

            <div id="modal"></div>

            <div class="ui centered stackable grid" id="departments_container"></div>

        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'students/js/students_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'subjects/js/subjects.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/child_departments.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/main.js' %}"></script>

{% endblock %}
