{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Departments
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'departments/css/main.css' %}">

{% endblock %}


{% block content %}

    <div class="ui padded grid">
        <div class="no-margin-padding column">
            {% include 'search.html' %}
            <div class="ui segment" id="breadcrumbs_container"
                 style="height: 71px; text-align: left; margin-top: -15px;">
            </div>

            <div id="modal"></div>
            <div class="ui divided relaxed items"
                 id="departments_container"
                 style="margin: 40px; text-align: left">
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'departments/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/main.js' %}"></script>

{% endblock %}
