{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>πCloud — студенческое облако</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    
    {% include 'tags/yandex_webmaster.html' %}
    {% include 'tags/google_analytics.html' %}
    {% include 'tags/google_adsence.html' %}
</head>
<body>

<!--[if lte IE 9]>
<p class="browserupgrade">
    Вы используете <strong>устаревший</strong> браузер.
    Пожалуйста, <a href="https://browsehappy.com/">обновите браузер</a>,
    чтобы страница отображалась правильно.
</p>
<![endif]-->

<header>
    <div class="headline">
        <a class="logo" href="">
            <img class="logo" src="{% static 'img/logo-white.png' %}"/>
        </a>
        <div class="buttons">
            <a class="button" href="{% url 'signin' %}">Вход</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="heroes">
        <p class="hero">
            &pi;Cloud&nbsp;— твоё студенческое облако.
        </p>
        <p class="heroine">
            Всё необходимое для&nbsp;учёбы в&nbsp;одном месте.
        </p>
        <p class="description">
            Больше не&nbsp;нужно бродить по&nbsp;сайтам
            и&nbsp;судорожно искать нужную методичку
            среди&nbsp;миллионов сообщений в&nbsp;беседе твоей группы.

            Билеты к&nbsp;экзаменам и&nbsp;задания к&nbsp;тестам,
            слайды с&nbsp;лекций и&nbsp;учебники,
            типовики и&nbsp;лабораторые работы&nbsp;—
            всё это есть на&nbsp;<strong>&pi;Cloud</strong>’е.
        </p>
        <a href="{% url 'cloud' %}" class="button">
            Перейти в&nbsp;хранилище
        </a>
    </div>

    <h2>Почему &pi;Cloud?</h2>
    <div class="advantages">
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <h3>Сделано студентами для&nbsp;студентов</h3>
            <p>
                &pi;Cloud появился, когда нам порядком надоел хаос, порождённый многообразием источников. Мы решили
                собрать всю информацию в&nbsp;одном месте и&nbsp;сделать так, чтобы к&nbsp;ней можно было легко
                обращаться. Теперь &pi;Cloud&nbsp;— это крупное хранилище учебных материалов, доступное из&nbsp;любой
                точки мира и&nbsp;даже из&nbsp;столовой твоего вуза, если там есть сигнал Wi-Fi.
            </p>
        </div>
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-sitemap"></i>
            </div>
            <h3>Грамотная организация материалов</h3>
            <p>
                Хотя на&nbsp;сайте твоей кафедры, скорее всего, есть иерархия содержимого, мы уверены, что она
                не&nbsp;выдержит никакого сравнения с&nbsp;нашей. На &pi;Cloud контент распределяется
                по&nbsp;вузам и&nbsp;кафедрам, направлениям подготовки и&nbsp;учебным дисциплинам, и&nbsp;становится
                проще найти нужный материал. К&nbsp;тому&nbsp;же, материалы разного типа: от&nbsp;методичек
                до&nbsp;курсовиков&nbsp;— лежат отдельно, так что ты вряд&nbsp;ли запутаешься.
            </p>
        </div>
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-check-square"></i>
            </div>
            <h3>Качество контента</h3>
            <p>
                Несмотря на&nbsp;то, что хранилище пополняется самими пользователями &pi;Cloud’а, ты вряд&nbsp;ли
                найдёшь здесь контент плохого качества: все материалы проходят тщательную модерацию перед
                публикацией,
                редактируются и&nbsp;обновляются по&nbsp;мере необходимости.
            </p>
        </div>
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <h3>Персонализация</h3>
            <p>
                Мы подбираем контент специально для&nbsp;тебя: достаточно указать свой вуз и&nbsp;направление
                подготовки, на&nbsp;котором ты учишься, чтобы &pi;Cloud отображал действительно нужные тебе
                материалы.
            </p>
        </div>
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-file-alt"></i>
            </div>
            <h3>Разметка</h3>
            <p>
                Согласись, не&nbsp;очень удобно читать неформатированный сплошной текст?
                На &pi;Cloud&rsquo;е используется язык разметки
                <a href="https://daringfireball.net/projects/markdown/" target="_blank">Markdown</a>,
                чтобы сделать тексты проще для&nbsp;восприятия.
            </p>
        </div>
        <div class="advantage">
            <div class="icon">
                <i class="fas fa-fire"></i>
            </div>
            <h3>Мемчики</h3>
            <p>
                Чтобы скрасить бессоную ночь и&nbsp;отвлечься от&nbsp;никак не&nbsp;поддающегося
                пониманию курсача, зайди в&nbsp;наш раздел с&nbsp;мемами и&nbsp;посмотри на&nbsp;шедевры
                мемостроителей из&nbsp;избранных сообществ ВКонтакте.
            </p>
        </div>
    </div>

    <div class="heroes">
        <p class="hero">&pi;Cloud&nbsp;— лучше, чем файлообменник.</p>
        <p class="heroine">И&nbsp;гораздо лучше, чем сайт кафедры.</p>
        <p>
            <a href="{% url 'signin' %}">Войти в&nbsp;систему</a>
        </p>
    </div>
</div>

<footer>
    <p style="font-weight: 500;">
        &pi;Cloud&nbsp;— первый неклассический файлообменник.
    </p>
    <p>
        <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
    </p>
</footer>

{% include 'tags/yandex_metrika.html' %}

</body>
</html>
