{% load static %}

<!doctype html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    {% include 'tags/yandex_webmaster.html' %}
    {% include 'tags/google_analytics.html' %}

    <!-- Semantic UI -->
    <link href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i|Alegreya:400,400i,500,500i,700,700i|Roboto+Slab:400,700|Roboto:400,400i,500,500i,700,700i&amp;subset=cyrillic">

    <link rel="stylesheet" href="{% static 'website/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/navbar.css' %}">

    <link rel="icon" href="{% static 'website/img/favicon.png' %}">

    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% block head %}
    {% endblock %}

</head>


<body>

{% include 'navbar.html' %}

<div id="app">
    {% block content %}{% endblock %}
</div>


<!-- Jquery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!--  axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Data Table library -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>

<!-- Semantic UI -->
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>

<!--  Cookies lib -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

<!-- Global methods -->
<script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>

{% block js %}
{% endblock %}

{% include 'tags/yandex_metrika.html' %}

</body>

</html>
