{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Memes
{% endblock %}


{% block head %}

    <link rel="stylesheet" href="{% static 'cloud/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'memes/css/main.css' %}">

{% endblock %}


{% block content %}

    <div class="ui basic segment" id="memes_container" style="min-height: 100px"></div>

{% endblock %}


{% block js %}

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script type="text/javascript" src="{% static 'memes/js/main.js' %}"></script>

{% endblock %}
