{% load static %}


<div class="ui vertical link menu desktop navbar">

    <a class="item" href="{% url 'cloud' %}">
        <img class="desktop-logo" src="{% static 'website/img/picloud-full.png' %}" alt="PiCloud"
            style="height: 50px; margin: -10px 10px">
        <img class="mobile-logo" src="{% static 'website/img/favicon.png' %}" alt="PiCloud"
            style="height: 30px; margin: 0 -2px 0 136px;">
    </a>

    <a class="item" href="{% url 'cloud' %}">
        <i class="cloud icon"></i> Cloud
    </a>

    <a class="item" href="{% url 'new_post' %}">
        <i class="pencil icon"></i> Editor
    </a>

    <a class="item" href="{% url 'chats' %}">
        <i class="comments icon"></i> Chats
    </a>

    <a class="item" href="{% url 'departments' %}">
        <i class="university icon"></i> Universities
    </a>

    <a class="item" href="{% url 'students' %}">
        <i class="users icon"></i> Students
    </a>


    <a class="item" href="{% url 'memes' %}">
        <i class="smile icon"></i> Memes
    </a>


    {% if request.user.is_authenticated %}
        <div class="bottom-menu">
            {% if user.userinfo.can_moderate or user.is_superuser or user.is_staff %}
                <a class="item" href="{% url 'moderation' %}">
                    <i class="gavel icon"></i> Moderation
                </a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="item" href="/admin">
                    <i class="chess queen icon"></i> Admin
                </a>
            {% endif %}
            <a class="item" href="{% url 'settings' %}">
                <i class="cog icon"></i> Settings
            </a>
            <a class="item" href="{% url 'profile' user.username %}">
                <i class="user icon"></i> Profile
            </a>
            <a class="item" href="{% url 'signout' %}">
                <i class="sign out alternate icon"></i> Sign out
            </a>
        </div>
    {% else %}
        <a class="bottom-menu item" href="{% url 'signin' %}">
            <i class="sign in alternate icon"></i> Sign in
        </a>
    {% endif %}

</div>


<div class="ui labeled icon borderless fluid four item menu mobile navbar">

    <a class="item" href="{% url 'cloud' %}">
        <i class="cloud icon"></i> Cloud
    </a>
    <a class="item" href="{% url 'chats' %}">
        <i class="comments icon"></i> Chats
    </a>
    <a class="item" href="{% url 'departments' %}">
        <i class="university icon"></i> Universities
    </a>

    {% if request.user.is_authenticated %}
        <a class="item" href="{% url 'profile' user.username %}">
            <i class="user icon"></i> Profile
        </a>
    {% else %}
        <a class="item" href="{% url 'signin' %}">
            <i class="sign in alternate icon"></i> Sign in
        </a>
    {% endif %}

</div>
