<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Политика обработки персональных данных</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet">
    <style>
        html {
            font-size: 14pt;
        }

        body {
            font-family: "Alegreya", serif;
            background: #FAFAD2;
            color: #222222;
            margin: 3rem auto;
            max-width: 35rem;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
        }

        h2 {
            font-weight: bold;
            font-size: 1.5rem;
        }

        ul {
            list-style-type: none;
        }

        ul > li {
            text-indent: -1rem;
        }

        ul > li::before {
            content: "—";
            text-indent: -1rem;
            padding-right: 0.5rem;
        }

        a {
            color: #851400;
        }

        a:hover {
            color: #874600;
        }

        a:visited {
            color: #871056;
        }

        a:visited:hover {
            color: #5f0087;
        }
    </style>
</head>
<body>

<h1>Политика обработки персональных данных</h1>

<h2>1. Общие положения</h2>
<p>
    1.1. Администратор сайта Заводов&nbsp;А.П. (далее по тексту&nbsp;— <strong>Оператор</strong>) ставит соблюдение прав
    и&nbsp;свобод граждан одним из&nbsp;важнейших условий осуществления своей деятельности.
</p>
<p>
    1.2. Настоящая Политика Оператора в&nbsp;отношении обработки персональных данных (далее по&nbsp;тексту&nbsp;—
    Политика) применяется ко&nbsp;всей информации, которую Оператор может получить о&nbsp;посетителях веб-сайта
    <a href="https://picloud.pw">picloud.pw</a>. Персональные данные обрабатывается в&nbsp;соответствии с&nbsp;ФЗ «О&nbsp;персональных
    данных» №&nbsp;152-ФЗ.
</p>

<h2>2. Основные понятия, используемые в Политике</h2>
<p>
    2.1. Веб-сайт&nbsp;— совокупность графических и&nbsp;информационных материалов, а&nbsp;также программ для&nbsp;ЭВМ и&nbsp;баз
    данных, обеспечивающих их&nbsp;доступность в&nbsp;сети Интернет по&nbsp;сетевому адресу
    <a href="https://picloud.pw">picloud.pw</a>;
</p>
<p>
    2.2. Пользователь&nbsp;— любой посетитель веб-сайта <a href="https://picloud.pw">picloud.pw</a>;
</p>
<p>
    2.3. Персональные данные&nbsp;— любая информация, относящаяся к&nbsp;Пользователю Веб-сайта;
</p>
<p>
    2.4. Обработка персональных данных&nbsp;— любое действие с персональными данными, совершаемые с&nbsp;использованием
    ЭВМ, равно как и&nbsp;без их использования;
</p>
<p>
    2.5. Обезличивание персональных данных&nbsp;— действия, результатом которых является невозможность без&nbsp;использования
    дополнительной информации определить принадлежность персональных данных конкретному Пользователю или лицу;
</p>
<p>
    2.6. Распространение персональных данных&nbsp;— любые действия, результатом которых является раскрытие персональных
    данных неопределенному кругу лиц;
</p>
<p>
    2.7. Предоставление персональных данных&nbsp;— любые действия, результатом которых является раскрытие персональных
    данных определенному кругу лиц;
</p>
<p>
    2.8. Уничтожение персональных данных&nbsp;— любые действия, результатом которых является безвозвратное уничтожение
    персональных данных на&nbsp;ЭВМ или любых других носителях.
</p>

<h2>3. Состав персональных данных, подлежащих обработке</h2>
<p>
    3.1. Оператор может обрабатывать следующие персональные данные Пользователя:
</p>
<ul>
    <li>адрес электронной почты,</li>
    <li>фамилию, имя, отчество,</li>
    <li>сведения об образовании Пользователя.</li>
</ul>
<p>
    3.2. Также на сайте происходит сбор и&nbsp;обработка обезличенных данных о&nbsp;посетителях (в&nbsp;т.ч. файлов
    «cookie») с&nbsp;помощью сервисов интернет-статистики («Яндекс.Метрика» и&nbsp;других).
</p>

<h2>4. Цели обработки персональных данных</h2>

<p>
    4.1. Персональные данные Пользователя Администратор сайта может использовать в&nbsp;целях:
</p>
<p>
    4.1.1. предоставления Пользователю доступа к&nbsp;персонализированным ресурсам Веб-сайта;</p>
<p>
    4.1.2. установления с&nbsp;Пользователем обратной связи, включая обработку запросов, заявок, жалоб и&nbsp;предложений
    Пользователя, касающихся использования Веб-сайта.</p>
<p>
    4.2. Также Оператор имеет право направлять Пользователю уведомления о&nbsp;расширении или&nbsp;изменении
    функциональности Веб-сайта. Пользователь всегда может отказаться от&nbsp;получения информационных сообщений,
    направив Оператору письмо на&nbsp;адрес <a href="mailto:itmo.cloud@gmail.com">itmo.cloud@gmail.com</a>.
</p>
<p>
    4.3. Обезличенные данные Пользователей, собираемые с&nbsp;помощью сервисов интернет-статистики, служат для&nbsp;сбора
    информации о действиях Пользователей на&nbsp;сайте, улучшения качества сайта и&nbsp;его содержания.
</p>

<h2>5. Правовые основания обработки персональных данных</h2>
<p>
    5.1. Оператор обрабатывает персональные данные Пользователя только в&nbsp;случае их отправки Пользователем через
    формы, расположенные на сайте <strong>picloud.pw</strong>. Отправляя свои персональные данные Оператору,
    Пользователь выражает свое согласие с данной Политикой.
</p>
<p>
    5.2. Оператор обрабатывает обезличенные данные о&nbsp;Пользователе в&nbsp;случае, если это разрешено в&nbsp;настройках
    браузера Пользователя (включено сохранение файлов «cookie» и&nbsp;использование технологии JavaScript). Отключение
    «cookie» может повлечь невозможность доступа к&nbsp;частям Веб-сайта, требующим авторизации.
</p>

<h2>
    6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
</h2>
<p>
    6.1. Оператор обеспечивает сохранность персональных данных и&nbsp;принимает все возможные меры, исключающие доступ
    к&nbsp;персональным данным неуполномоченных лиц.
</p>
<p>
    6.2. Персональные данные Пользователя никогда, ни&nbsp;при каких условиях не&nbsp;будут переданы третьим лицам,
    за&nbsp;исключением случаев, связанных с&nbsp;исполнением действующего законодательства.
</p>
<p>
    6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их, направив Оператору
    уведомление с&nbsp;помощью электронной почты на&nbsp;электронный адрес Оператора
    <a href="mailto:itmo.cloud@gmail.com">itmo.cloud@gmail.com</a> с&nbsp;пометкой «Актуализация персональных данных».
</p>
<p>
    6.4. Срок обработки персональных данных является неограниченным. Пользователь может в&nbsp;любой момент отозвать
    своё согласие на&nbsp;обработку персональных данных, направив Оператору уведомление с&nbsp;помощью электронной почты
    на&nbsp;электронный адрес Оператора <a href="mailto:itmo.cloud@gmail.com">itmo.cloud@gmail.com</a> с&nbsp;пометкой
    «Отзыв согласия на&nbsp;обработку персональных данных».
</p>

<h2>7. Заключительные положения</h2>
<p>
    7.1. Пользователь может получить любые разъяснения по&nbsp;интересующим вопросам, касающимся обработки его
    персональных данных, обратившись к&nbsp;Оператору с&nbsp;помощью электронной почты на&nbsp;адрес
    <a href="mailto:itmo.cloud@gmail.com">itmo.cloud@gmail.com</a>.
</p>
<p>
    7.2. В&nbsp;данном документе будут отражены любые изменения политики обработки персональных данных Оператором. В&nbsp;случае
    существенных изменений Пользователю может быть выслана информация на&nbsp;указанный им электронный адрес.
</p>

</body>
</html>
