{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Profile
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'profile/css/main.css' %}">

{% endblock %}


{% block content %}
    <div id="edit_form_modal_container"></div>

    <div class="ui padded centered stackable grid" style="text-align: left; padding-top: 20px">
        <div class="four wide column">
            <div class="ui basic no-margin-padding segment" style="min-height: 80px"
                 id="personal_info_container"></div>
            <div class="ui segment" style="min-height: 80px; margin-bottom: 40px"
                 id="user_department_container"></div>
        </div>
        <div class="six wide column">

            <div id="user_drafts"></div>
            <div id="user_posts" style="margin-top: 20px"></div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'departments/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/hierarchy.js' %}"></script>
    <script type="text/javascript" src="{% static 'students/js/student_posts.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile/js/student_drafts.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile/js/main.js' %}"></script>

{% endblock %}