{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'profile/css/main.css' %}">

{% endblock %}


{% block content %}
    
    <div id="edit_form_modal_container"></div>

    <div class="ui padded centered stackable grid" style="text-align: left; padding-top: 20px">
        <div class="twelve wide computer sixteen wide tablet column">
            <div class="ui padded stackable grid">
                <div class="four wide column">
                    <div class="ui fluid segment" style="overflow: hidden; text-align: center; height: 100%">
                        <div id="user_avatar"></div>
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="ui fluid segment" id="user_stats" style="height: 100%"></div>
                </div>
                <div class="sixteen wide column" id="user_content"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'components/post_feed.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/hierarchy.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile/js/profile.js' %}"></script>

{% endblock %}