{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'profile/css/main.css' %}">

{% endblock %}


{% block content %}
    <div id="edit_form_modal_container"></div>

    <div class="ui padded centered stackable grid" style="text-align: left; padding-top: 20px">
        <div class="five wide computer seven wide tablet column">
            <div class="ui basic no-margin-padding segment" style="min-height: 80px"
                 id="personal_info_container"></div>
            <div class="ui segment" style="min-height: 80px; margin-bottom: 40px"
                 id="user_department_container"></div>
        </div>
        <div class="six wide computer nine wide tablet column">
            <div class="ui segment">
                <div class="ui pointing secondary menu">
                    <a class="active item" data-tab="posts_tab">Posts</a>
                    <a class="item" data-tab="drafts_tab">Drafts</a>
                    <a class="item" data-tab="moderation_tab">Moderation</a>
                </div>
                <div class="ui bottom attached active tab" data-tab="posts_tab" id="user_posts"></div>
                <div class="ui bottom attached tab" data-tab="drafts_tab" id="user_drafts"></div>
                <div class="ui bottom attached tab" data-tab="moderation_tab" id="moderation_posts"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'departments/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'departments/js/hierarchy.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/js/posts_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile/js/student_drafts.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile/js/main.js' %}"></script>

{% endblock %}