<div class="ui segment" id="search_container">
    <div class="ui stackable grid">
        <div class="left floated sixteen wide column">
            <div class="ui fluid search">
                <div class="ui left icon fluid input" style="max-width: 600px">
                    <i class="search icon"></i>
                    <input class="prompt" id="search" type="text" placeholder="Enter search query"
                           style="border-radius: 50px;">
                </div>
                <div class="search results"></div>
            </div>
        </div>
    </div>

</div>