{% extends 'main_template.html' %}
{% load static %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}

    <div class="ui centered padded grid">
        <div class="ui segment" style="width: 500px; padding: 40px; margin-top: 200px">
            <img src="{% static 'img/piLogo.png' %}" alt="PiCloud" style="width: 300px">
            <hr>
            <a class="ui google fluid button" title="Sign in with Google" style="font-size: 20px;"
               href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next|urlencode }}">
                <i class="google icon"></i> Google
            </a>
            <hr>
            <a class="ui vk fluid button" title="Sign in with VK" style="font-size: 20px;"
               href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.GET.next|urlencode }}">
                <i class="vk icon"></i> Vkontakte
            </a>
            <hr>
            <a class="ui fluid button" title="Sign in with GitHub"
               style="font-size: 20px; background-color: #23292d; color: #fff"
               href="{% url 'social:begin' 'github' %}?next={{ request.GET.next|urlencode }}">
                <i class="github icon" style="color: #ffffff; text-decoration-color: #bbbbbb"></i> GitHub
            </a>
        </div>
    </div>

{% endblock %}
