{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %}
    Students
{% endblock %}


{% block head %}

    <link rel="stylesheet" href="{% static 'students/css/main.css' %}">

{% endblock %}


{% block content %}

    <div class="ui padded grid">
        <div class="no-margin-padding column">
            <div class="ui segment" id="search_container"></div>
            <div class="ui basic segment divided items" id="students_container"></div>
            <div class="ui centered button" id="load_button" onclick="load_students()">Load more</div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script type="text/javascript" src="{% static 'website/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'students/js/main.js' %}"></script>

{% endblock %}
