body {
    overscroll-behavior: none;
}

.content-block.main {
    height: 100%
}

.chats.grid {
    height: 100%;
    text-align: left;
}

.top.segment {
    border-radius: 0;
    margin: 0;
    height: 70px;
}

.middle.segment {
    border-radius: 0;
    margin: 0;
    min-height: 100px;
    overflow-y: auto;
}

.avatar {
    height: 50px !important;
    width: 50px !important;
}

.bottom.segment {
    border-radius: 0;
    margin: 0;
    height: 70px;
    border-style: solid;
    border-width: 2px 0;
}

.left .middle {
    height: calc(100% - 70px);
}

.center .middle {
    height: calc(100% - 70px - 70px);
}

.right .middle {
    height: calc(100% - 70px);
}

.extra-btn {
    position: absolute !important;
    right: 14px !important;
    top: 16px !important;
}

#chat_form {
    border: none;
}

#new_chat_form {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
}

.rotated {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}

#chat_messages_container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 14px;
    text-align: center;
    bottom: 0;
}

.back_chat.button {
    margin-top: 5px !important;
    margin-right: 10px !important;
    box-shadow: none !important;
}

@media all and (min-width:992px){
    .back_chat.button {
        display: none !important;
    }
}

.emojis_list {
    font-size: 24px !important;
    text-align: center
}

#chat_bar_content {
    overflow-y: auto;
}

.emojis_list {
    height: 100px;
}

#chats_list_container {
    height: 100px;
}

.flyout > .content {
    padding: 0 !important;
}

.flyout > .close.icon {
    top: unset !important;
    right: 2.25rem !important;
    bottom: 1.5rem !important;
}

.pusher {
    height: 100%;
}

.emojis_list > div {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-block
}

.emojis_list > div:hover {
    background-color: #DBC6EB;
    border-radius: 5px;
}

* {
  --scrollbar-color: #00000000;
}

*:hover, *:focus, *:focus-within {
  --scrollbar-color: #00000040 !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0 0 4px var(--scrollbar-color) inset;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border: 0 solid transparent;
  box-shadow: none;
}
